<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find Danus</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--    <link rel="stylesheet" th:href="@{../static/css/register.css}">-->
    <link rel="stylesheet" th:href="@{css/register.css}">
    
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" style="position: absolute; top: 0; left: 0; right: 0;">
        <b><a th:href="@{/}" class="navbar-brand">FindDanus</a></b>
    </nav>
   <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form th:action="@{/register}" th:method="post" id="signup-form" class="signup-form" >
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="name" id="name" placeholder="Your Name"/ required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Your Email"/ required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="location" id="location" placeholder="Location"/ required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-input" name="phoneNum" id="phoneNum" placeholder="Number"/ required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="password" placeholder="Password"/ required="">
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="passwordConfirm" id="passwordConfirm" placeholder="Repeat your password"/ required>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group">
                            <select name="type" class="form-control" id="exampleFormControlSelect1">
                                <option value="seeker" name="seeker">Seeker</option>
                                <option value="seller" name="seller">Seller</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Have already an account ? 
                        <a th:href="@{/login}" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
    
</body>
</html>