<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <b><a th:href="@{/seller/home}" class="navbar-brand">FindDanus</a></b>
    <div class="form-inline">
        <a th:href="@{/seller/home}">
            <button class="btn btn-success">Back</button>
        </a>
    </div>
</nav>
<div class="container d-inline-block mx-5 my-4 float-left" style="width: 40%;">
    <h4>Edit Profile</h4>
    <form th:action="@{/seller/edit}" th:method="post">
        <input type="hidden" name="seller_id" th:value="${seller.getId()}">
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" type="text" name="name" id="name" th:value="${seller.getName()}" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" type="email" name="email" id="email" th:value="${seller.getEmail()}" required>
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <input class="form-control" type="text" name="location" id="location" th:value="${seller.getLocation()}"
                   required>
        </div>
        <div class="form-group">
            <label for="phoneNum">Phone Number:</label>
            <input class="form-control" type="number" name="phoneNum" id="phoneNum" th:value="${seller.getPhoneNum()}"
                   required>
        </div>
        <div class="form-group">
            <label for="passwordConfirm">Password Confirmation:</label>
            <input class="form-control" type="password" name="passwordConfirm" id="passwordConfirm" required>
        </div>
        <button class="btn btn-outline-success" type="submit" id="editProfileBtn">Save</button>
    </form>
    <div id="emailValidator" style="display: none;">
        <h5 style="color: red; margin-top: 10px;">Email already exists!</h5>
    </div>
</div>
<div class="container d-inline-block ml-3 my-4" style="width: 40%;">
    <h4>Change Password</h4>
    <form th:action="@{/seller/editPass}" th:method="post">
        <input type="hidden" name="seller_id" th:value="${seller.getId()}">
        <div class="form-group">
            <label for="oldPassword">Old Password:</label>
            <input class="form-control" type="password" name="oldPassword" id="oldPassword" required>
        </div>
        <div class="form-group">
            <label for="password">New Password:</label>
            <input class="form-control" type="password" name="password" id="password" required onkeyup="check();">
        </div>
        <div class="form-group">
            <label for="passwordConfirmChange">New Password Confirmation:</label>
            <input class="form-control" type="password" name="passwordConfirmChange" id="passwordConfirmChange"
                   required onkeyup="check();">
        </div>
        <button class="btn btn-outline-success" type="submit">Change</button>
    </form>
    <div id="matchChecker" style="display: none;">
        <h5 style="color: red; margin-top: 10px;">Password doesn't match!</h5>
    </div>
</div>
</body>
</html>