<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/164fead0d2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Poppins';
        }

        body h4, h5 {
            font-weight: 700;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <b><a th:href="@{/home}" class="navbar-brand">FindDanus</a></b>
        <div class="form-inline">
            <a th:href="@{/home}">
                <button class="btn btn-success">Back</button>
            </a>
        </div>
    </nav>

    <div class="container my-5">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="col-sm-6">
                <form  th:action="@{/home}" th:method="post">
                    <div class="d-flex flex-row">
                        <input type="hidden" id="seekerId" th:value="${seekerId}">
                        <input type="text" class="form-control input-lg" name="productName" id="productName"
                               placeholder="Search Product Name"/>
                        <button type="submit" class="btn btn-outline-success">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="result-header" class="header mb-4">
            <h4 th:text="${'Showing ' + products.size() + ' results for ' + keyword}"></h4>
        </div>
        <div id="results" class="mx-4 justify-content-center">
            <div th:each="product: ${products}" class="card float-left mx-3 my-3" style="width:19.5rem;">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.title}"></h5>
                    <p class="card-text" th:text="${product.description}"></p>
                    <div class="d-flex flex-row card-text align-items-center mb-2">
                        <i class="fas fa-tags"></i>
                        <p class="mb-0 ml-1" th:text="${'IDR ' + product.price}"></p>
                    </div>
                    <div class="d-flex flex-row card-text align-items-center mb-2">
                        <i class="fas fa-search-location"></i>
                        <p class="mb-0 ml-2" th:text="${product.getSeller().location}"></p>
                    </div>
                    <div class="d-flex flex-row"></div>
                    <a th:href="@{/seller/preview/{id}(id=${product.getSeller().getId()})}" class="btn btn-outline-success mt-2">
                        <div class="d-flex flex-row align-items-center justify-content-center">
                            <i class="fas fa-user-circle"></i>
                            <p class="mb-0 ml-2" th:text="${product.getSeller().name}"></p>
                        </div>
                    </a>
                    <a th:if="${listFollowing == null || !listFollowing.contains(product.getSeller().getId())}" class="btn btn-outline-primary mt-2 btnFollow"
                       th:classappend="${'btncn'+product.getSeller().getId()}"
                       th:href="@{/follow/{idSeller}(idSeller=${product.getSeller().getId()})}">
                        <div class="d-flex flex-row align-items-center justify-content-center">
                            <i class="fas fa-user-plus"></i>
                            <p class="mb-0 ml-2" th:classappend="${'btntxt'+product.getSeller().getId()}">Follow</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>