<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/164fead0d2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins';
            color: #2F281E;
        }

        #profpic {
            object-fit:cover;
            width: 300px;
            height:300px;
        }

        .attribute {
            margin-top: 6px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <b><a th:href="@{/home}" class="navbar-brand">FindDanus</a></b>
        <div class="form-inline">
            <a th:href="@{/home}">
                <button class="btn btn-success">Back</button>
            </a>
        </div>
    </nav>

    <div th:if="${seeker != null}">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div>
                    <img id="profpic" th:src="@{/img/profile.png}">
                </div>
                <div class="col-4 d-flex flex-column justify-content-center">
                    <h3 class="font-weight-bold" th:text="${seeker.name}"></h3>
                    <div class="d-flex flex-row attribute align-items-center mb-2">
                        <i class="fas fa-house-user"></i>
                        <p class="mb-0 ml-2" th:text="${seeker.location}"></p>
                    </div>
                    <div class="d-flex flex-row attribute align-items-center mb-2">
                        <i class="fas fa-envelope"></i>
                        <p class="mb-0 ml-2" th:text="${seeker.email}"></p>
                    </div>
                    <div class="d-flex flex-row attribute align-items-center mb-2">
                        <i class="fas fa-phone-alt"></i>
                        <p class="mb-0 ml-2" th:text="${seeker.phoneNum}"></p>
                    </div>
                    <div class="d-flex flex-column">
                        <a th:href="@{/following}" class="btn btn-outline-success attribute" role="button">
                            <div class="d-flex flex-row align-items-center justify-content-center">
                                <i class="fas fa-users"></i>
                                <p class="mb-0 ml-2" th:text="${'Following: ' + seeker.getFollowing().size()}"></p>
                            </div>
                        </a>
                        <a th:href="@{/edit}" class="btn btn-outline-success attribute" role="button">
                            <div class="d-flex flex-row align-items-center justify-content-center">
                                <i class="fas fa-user-edit"></i>
                                <p class="mb-0 ml-2">Edit Profile</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>