<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Danus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/164fead0d2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins';
        }

        body h4, h5 {
            font-weight: 700;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <b><a th:href="@{/home}" class="navbar-brand">FindDanus</a></b>
        <div class="form-inline">
            <a th:href="@{/profile}" class="mr-3">
                <button class="btn btn-success">My Profile</button>
            </a>
            <a th:href="@{/chats}" class="mr-3">
                <button class="btn btn-success">Chats</button>
            </a>
            <a th:href="@{/logout}" class="mr-2">
                <button class="btn btn-light">Logout</button>
            </a>
        </div>
    </nav>

    <div class="container my-5">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="col-sm-6">
                <form  th:action="@{/home}" th:method="post">
                    <div class="d-flex flex-row">
                        <input type="text" class="form-control input-lg" name="productName" id="productName" placeholder="Search Product Name"/>
                        <button type="submit" class="btn btn-outline-success">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="mt-3">
                <a th:href="@{search/location={location}(location=${seekerLocation})}" class="btn btn-outline-success">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <i class="fas fa-search-location"></i>
                        <p class="mb-0 ml-2">Product Near Me</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="header mb-4">
            <h4>Products by Followed Seller</h4>
        </div>
        <div class="mx-4 justify-content-center">
            <div th:each="product: ${products}" class="card float-left mx-3 my-3" style="width:19.5rem;">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.title}"></h5>
                    <p class="card-text" th:text="${product.description}"></p>
                    <div class="d-flex flex-row card-text align-items-center mb-2">
                        <i class="fas fa-tags"></i>
                        <p class="mb-0 ml-1" th:text="${'IDR ' + product.price}"></p>
                    </div>
                    <div class="d-flex flex-row card-text align-items-center mb-2">
                        <i class="fas fa-search-location"></i>
                        <p class="mb-0 ml-2" th:text="${product.getSeller().location}"></p>
                    </div>
                    <a th:href="@{/seller/preview/{id}(id=${product.getSeller().getId()})}" class="btn btn-outline-success mt-2">
                        <div class="d-flex flex-row align-items-center justify-content-center">
                            <i class="fas fa-user-circle"></i>
                            <p class="mb-0 ml-2" th:text="${product.getSeller().name}"></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>